---
layout: default
---

<div class="post-container">
    <ul class="posts">
      <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">
        <a href="../category_list.html">
        <strong>CATEGORY : {{ page.tag }}<div class="terms-count">{{ site.categories[page.tag].size }}</div></strong>
      </a>
      </h1>
    </li>
    {% for post in site.categories[page.tag] %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h4>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
        </div>
      </li>    
    {% endfor %}
  </ul>
</div>



